{% extends 'base.html.twig' %}

{% block title %}Hello CartController!{% endblock %}

{% block body %}
    <div class="container my-5">
        <h1>Mon panier</h1>
        <p>Retrouvez l'ensemble des produits que vous avez ajouté à votre panier.</p>
        {% if cart|length > 0 %}
            <table class="table">
                <thead>
                <tr>
                    <th scope="col">Produit</th>
                    <th scope="col"></th>
                    <th scope="col">Quantité</th>
                    <th scope="col">Prix</th>
                    <th scope="col">Total</th>
                </tr>
                </thead>
                <tbody>
                {% set total = null %}
                {% for product in cart %}
                    <tr>
                        <th scope="row">
                            <img height="75" src="{{ asset('uploads/images/')~product.product.illustration }}"
                                 alt="{{ product.product.name }}">
                        </th>
                        <td>
                            {{ product.product.name }}
                            <br>
                            {{ product.product.subtitle }}
                        </td>
                        <td>
                            <a href="{{ path('decrease_to_cart', { 'id': product.product.id }) }}" class="btn btn-sm btn-secondary">
                                <i class="bi bi-dash-lg"></i>
                            </a>
                            <span class="mx-3">{{ product.quantity }}</span>
                            <a href="{{ path('add_to_cart', { 'id': product.product.id }) }}" class="btn btn-sm btn-secondary">
                                <i class="bi bi-plus-lg"></i>
                            </a>
                        </td>
                        <td>{{ (product.product.price  / 100) |number_format(2, ',', '.') }} €</td>
                        <td>{{ ((product.product.price * product.quantity)  / 100) |number_format(2, ',', '.') }} €</td>
                        <td>
                            <a href="{{ path('delete_to_cart', { 'id': product.product.id }) }}" class="text-danger">
                                <i class="bi bi-trash-fill"></i>
                            </a>
                        </td>
                    </tr>
                    {% set total = total + product.product.price * product.quantity %}
                {% endfor %}
                </tbody>
            </table>
            <div class="text-end fw-bold">
                <p>Nombre de produit: {{ cart|length }}</p>
                <p>Total de mon panier: {{ (total / 100) |number_format(2, ',', '.') }} €</p>
                <a href="{{ path('order') }}" class="btn btn-primary">Valider mon panier</a>
            </div>
        {% else %}
            <hr>
            <p class="fw-bold">Votre panier est vide.</p>
        {% endif %}
    </div>
{% endblock %}
