{% extends 'base.html.twig' %}

{% block javascripts %}
    <script src="https://js.stripe.com/v3/"></script>
{% endblock %}

{% block title %}Paiment de ma commande{% endblock %}

{% block body %}
    <div class="container my-5">
        <h1>Mon récapitulatif</h1>
        <div class="row">
            <div class="col-md-6">
                <strong>Mon adresse de livraison</strong> <br>
                {{ delevery | raw }}

                <hr>
                <strong>Mon transporteur</strong> <br>
                {{ carrier.name }} <br>
                {{ carrier.description }} <br>
                {{ (carrier.price / 100) | number_format(2, ',', '.') }}
            </div>
            <div class="col-md-6">
                <p>Récap de ma commande</p>
                <p>Retrouver le récapitulatif de vos produits</p>
                <div class="card card-body">
                    {% set total = null %}
                    {% for product in cart %}
                        <div class="row">
                            <div class="col-2 align-self-center">
                                <img height="75" src="{{ asset('uploads/images/')~product.product.illustration }}"
                                     alt="{{ product.product.name }}">
                            </div>
                            <div class="col-8 align-self-center">
                                {{ product.product.name }}
                                <br>
                                {{ product.product.subtitle }}
                                <br>
                                x {{ product.quantity }}
                            </div>
                            <div class="col-2 align-self-center">
                                {{ ((product.product.price * product.quantity)  / 100) |number_format(2, ',', '.') }} €
                            </div>
                        </div>
                        {% set total = total + product.product.price * product.quantity %}
                    {% endfor %}
                </div>
                <hr>
                <strong>Sous-total :</strong> {{ (total / 100) |number_format(2, ',', '.') }} € <br/>
                <strong>Livraison :</strong> {{ (carrier.price / 100) |number_format(2, ',', '.') }} € <br/>
                <hr>
                <strong>Total : </strong> {{ ((total / 100)+ (carrier.price /100)) |number_format(2, ',', '.') }} €
                <form action="{{ path('order_stipe_payment', {'reference': reference}) }}" method="POST">
                    <button button type="submit" id="checkout-button" class="btn btn-success d-block">
                        Payer| {{ ((total / 100)+ (carrier.price /100)) |number_format(2, ',', '.') }} €
                    </button>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
